<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Slacker News</title>
  </head>

  <body>
    <form action="/articles" method="post">
      <label for="article_title">Article Title:</label>
      <input type="text" id="article_title" name="article_title"><br>
      <label for="article_url">URL:</label>
      <input type="text" id="article_url" name="article_url"><br>
      <label for="article_description">Description:</label>
      <input type="text" id="article_description" name="article_description"><br>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
